page-credit-detail {
    .masters {
        background: linear-gradient(-45deg, #4F5D73, rgb(185, 219, 219), white, white,rgb(185, 219, 219));
      }
      .item.item-trns {
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: black; 
        }
}
